@model List<Tiendon.Nucleo.Entidades.Producto>
@{
    ViewBag.Title = "Index";
}


<div id="content">
    <!-- Content Slider -->
    <h6></h6>
  
    <!-- End Content Slider -->
    <!-- Products -->
    <div class="products">
        <div class="cl">&nbsp;</div>
        <ul>
            <li>
                <a href="#"><img src="~/Content/css/images/big1.jpg" alt="" /></a>
                <div class="product-info">
                    <h3>@Model[0].Nombre</h3>
                    <div class="product-desc">
                        <h4>@Model[0].Genero</h4>
                        <p>
                            @Model[0].Descripcion
                        </p>
                        <strong class="price">@Model[0].Precio</strong>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="~/Content/css/images/big1.jpg" alt="" /></a>
                <div class="product-info">
                    <h3>@Model[1].Nombre</h3>
                    <div class="product-desc">
                        <h4>@Model[1].Genero</h4>
                        <p>
                            @Model[1].Descripcion
                        </p>
                        <strong class="price">@Model[1].Precio</strong>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="~/Content/css/images/big1.jpg" alt="" /></a>
                <div class="product-info">
                    <h3>@Model[2].Nombre</h3>
                    <div class="product-desc">
                        <h4>@Model[2].Genero</h4>
                        <p>
                            @Model[2].Descripcion
                        </p>
                        <strong class="price">@Model[2].Precio</strong>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="~/Content/css/images/big1.jpg" alt="" /></a>
                <div class="product-info">
                    <h3>@Model[3].Nombre</h3>
                    <div class="product-desc">
                        <h4>@Model[3].Genero</h4>
                        <p>
                            @Model[3].Descripcion
                        </p>
                        <strong class="price">@Model[3].Precio</strong>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="~/Content/css/images/big1.jpg" alt="" /></a>
                <div class="product-info">
                    <h3>@Model[4].Nombre</h3>
                    <div class="product-desc">
                        <h4>@Model[4].Genero</h4>
                        <p>
                            @Model[4].Descripcion
                        </p>
                        <strong class="price">@Model[4].Precio</strong>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="~/Content/css/images/big1.jpg" alt="" /></a>
                <div class="product-info">
                    <h3>@Model[5].Nombre</h3>
                    <div class="product-desc">
                        <h4>@Model[5].Genero</h4>
                        <p>
                            @Model[5].Descripcion
                        </p>
                        <strong class="price">@Model[5].Precio</strong>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="~/Content/css/images/big1.jpg" alt="" /></a>
                <div class="product-info">
                    <h3>@Model[6].Nombre</h3>
                    <div class="product-desc">
                        <h4>@Model[6].Genero</h4>
                        <p>
                            @Model[6].Descripcion
                        </p>
                        <strong class="price">@Model[6].Precio</strong>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="~/Content/css/images/big1.jpg" alt="" /></a>
                <div class="product-info">
                    <h3>@Model[7].Nombre</h3>
                    <div class="product-desc">
                        <h4>@Model[7].Genero</h4>
                        <p>
                            @Model[7].Descripcion
                        </p>
                        <strong class="price">@Model[7].Precio</strong>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="~/Content/css/images/big1.jpg" alt="" /></a>
                <div class="product-info">
                    <h3>@Model[8].Nombre</h3>
                    <div class="product-desc">
                        <h4>@Model[8].Genero</h4>
                        <p>
                            @Model[8].Descripcion
                        </p>
                        <strong class="price">@Model[8].Precio</strong>
                    </div>
                </div>
            </li>


        </ul>
        <div class="cl">&nbsp;</div>
    </div>
    <!-- End Products -->
</div>


-   